@charset "utf-8";
/* CSS Document */
p {
	
	font-size: 16px;
	line-height: 18px;
	background-color: AliceBlue;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 15px;
	text-align: center;
}

img{
	height: 200px;
}

h1 {
	text-align: center;
	font-size: 50px;
}

body {
	background-image: url("Slike/23.jpeg")
	
}

h3 {
	text-align: center;
}

a{
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 25px;
	border: 2px;
}

h2 {
	text-align: center;
}

 ul {
	 text-align: center;
	 
 }
 
 h6 {
	 
	 text-align: center;
 }