@charset "utf-8";
p {
	color: green;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 14px;
	line-height: 18px;
	width: 680px;
	background-color: beige;
	padding: 16px;
	
}
h2 {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		color:black;
	}
	
body {
	background-image: url("Slike/16.jpg")
	
}

a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 35px;
	border: 1px; solid #000000;	
}
a:hover {
	background-color: darkgrey;
}

img {
	height: 400px;
	
}